HumansoftServer/Web References/WSBolsa/ServiciosDeBolsa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PublicarVacante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vacanteInfo">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PublicarVacanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PublicarVacanteResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerCandidatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vacateID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCandidatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCandidatosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PublicarVacanteSoapIn">
    <wsdl:part name="parameters" element="tns:PublicarVacante" />
  </wsdl:message>
  <wsdl:message name="PublicarVacanteSoapOut">
    <wsdl:part name="parameters" element="tns:PublicarVacanteResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCandidatosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCandidatos" />
  </wsdl:message>
  <wsdl:message name="ObtenerCandidatosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCandidatosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiciosDeBolsaSoap">
    <wsdl:operation name="PublicarVacante">
      <wsdl:input message="tns:PublicarVacanteSoapIn" />
      <wsdl:output message="tns:PublicarVacanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCandidatos">
      <wsdl:input message="tns:ObtenerCandidatosSoapIn" />
      <wsdl:output message="tns:ObtenerCandidatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosDeBolsaSoap" type="tns:ServiciosDeBolsaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PublicarVacante">
      <soap:operation soapAction="http://tempuri.org/PublicarVacante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCandidatos">
      <soap:operation soapAction="http://tempuri.org/ObtenerCandidatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosDeBolsaSoap12" type="tns:ServiciosDeBolsaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PublicarVacante">
      <soap12:operation soapAction="http://tempuri.org/PublicarVacante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCandidatos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCandidatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosDeBolsa">
    <wsdl:port name="ServiciosDeBolsaSoap" binding="tns:ServiciosDeBolsaSoap">
      <soap:address location="http://10.0.0.24:85/ServiciosDeBolsa.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosDeBolsaSoap12" binding="tns:ServiciosDeBolsaSoap12">
      <soap12:address location="http://10.0.0.24:85/ServiciosDeBolsa.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>