HumansoftServer/Web References/WSHumansoftPublico/WSExamenes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerRespuestasCandidato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cve_candidato" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cve_examen" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cve_vacante" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerRespuestasCandidatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerRespuestasCandidatoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaRegistrosEnTablas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsTablas">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaRegistrosEnTablasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertaRegistrosEnTablasResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerRespuestasCandidatoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerRespuestasCandidato" />
  </wsdl:message>
  <wsdl:message name="ObtenerRespuestasCandidatoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerRespuestasCandidatoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertaRegistrosEnTablasSoapIn">
    <wsdl:part name="parameters" element="tns:InsertaRegistrosEnTablas" />
  </wsdl:message>
  <wsdl:message name="InsertaRegistrosEnTablasSoapOut">
    <wsdl:part name="parameters" element="tns:InsertaRegistrosEnTablasResponse" />
  </wsdl:message>
  <wsdl:portType name="WSExamenesSoap">
    <wsdl:operation name="ObtenerRespuestasCandidato">
      <wsdl:input message="tns:ObtenerRespuestasCandidatoSoapIn" />
      <wsdl:output message="tns:ObtenerRespuestasCandidatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertaRegistrosEnTablas">
      <wsdl:input message="tns:InsertaRegistrosEnTablasSoapIn" />
      <wsdl:output message="tns:InsertaRegistrosEnTablasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSExamenesSoap" type="tns:WSExamenesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerRespuestasCandidato">
      <soap:operation soapAction="http://tempuri.org/ObtenerRespuestasCandidato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaRegistrosEnTablas">
      <soap:operation soapAction="http://tempuri.org/InsertaRegistrosEnTablas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSExamenesSoap12" type="tns:WSExamenesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerRespuestasCandidato">
      <soap12:operation soapAction="http://tempuri.org/ObtenerRespuestasCandidato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaRegistrosEnTablas">
      <soap12:operation soapAction="http://tempuri.org/InsertaRegistrosEnTablas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSExamenes">
    <wsdl:port name="WSExamenesSoap" binding="tns:WSExamenesSoap">
      <soap:address location="http://localhost:6136/WS/WSExamenes.asmx" />
    </wsdl:port>
    <wsdl:port name="WSExamenesSoap12" binding="tns:WSExamenesSoap12">
      <soap12:address location="http://localhost:6136/WS/WSExamenes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>